button.btn.btn-primary.btn-lg.visible-md-block{
  background-color:#f76c6c;
  position:relative;
  left:780px;
  top:-20px;
}

button.btn.btn-primary.btn-lg{
  background-color:#f76c6c;
  position:relative;
  left:780px;
  top:-20px;
}

span.form-control-feedback.glyphicon.glyphicon-asterisk.visible-md-block{
  color:#f76c6c;
}

div.col-md-5.visible-md-block{
  padding-left:90px;
}

div.row{
  padding-top:2%;
}

span.glyphicon.glyphicon-plus-sign{
  border-bottom-color:black;
}

span.glyphicon.glyphicon-plus-sign{
}

span.fa.fa-plus-circle{
  border-color:red;
  color:blue;
  background-color:black;
}

span.glyphicon.glyphicon-plus-sign{
}

button.btn.btn-default.btn-lg{
  border-radius:90%;
}

span.glyphicon.glyphicon-plus{
  color:#2b86d1;
}

span.fa.fa-plus{
  color:#2b86d1;
}

button.btn.btn-default{
  border-radius:90%;
}

span.glyphicon.glyphicon-chevron-down{
  font-size:22px;
}

span.glyphicon.glyphicon-chevron-up{
  font-size:32px;
}

span.form-control-feedback.glyphicon.glyphicon-asterisk{
  color:#f76c6c;
}

div#cont-header.col-md-12{
  background-color:#dbcbcb;
}

div.container{
  background-color:#dadfed;
}

div#cont-head.container-fluid{
  background-color:#dadfed;
}

